root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[{Makefile,*.sh}]
indent_style = tab

[*.{css,js,json,mjs,nix,scss,toml,ts,yaml,yml}]
indent_size = 2

[*.{cs,csproj,manifest,ps1,sln,wxl,wxs,xaml}]
end_of_line = crlf

[*.{cs,csproj,manifest,sln,xaml}]
charset = utf-8-bom

[*.md]
trim_trailing_whitespace = false
