*               text eol=lf
.*              text eol=lf

*.ico           binary
*.png           binary

*.cs            text eol=crlf
*.csproj        text eol=crlf
*.manifest      text eol=crlf
*.ps1           text eol=crlf
*.sln           text eol=crlf
*.wxl           text eol=crlf
*.wxs           text eol=crlf
*.xaml          text eol=crlf

*.md            diff=markdown
*.envrc         linguist-vendored=true
*.mrconfig      linguist-language=ini diff=ini

/.github        export-ignore
/docs           export-ignore
/CHANGELOG.md   export-ignore
